.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(108deg,#0c0c1d, #111132);
    overflow: hidden;
    .imageContainer{
        img{
            height: 800px;
            opacity: 0.3;
        }
    }
}