.container {
    height: 100vh;
    background-image: url('./skillsbackgroundimage.jpeg');
    background-size: cover; 
    background-position: center;
  }
  
  .skilltitlecontainer {
    height: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
  }
  .body{
    height: 95vh;
    /* background-color: blueviolet; */
  }
  .skillcontainer{
    background-color: aqua;
    height: 125px;
    width: 125px;
    opacity: 0.1;
  }
  .row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }