.container {
    height: 100vh;
    background-image: url('./skillsbackgroundimage.jpeg');
    background-size: cover; 
    background-position: center;
  }
  
  .skilltitlecontainer {
    height: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
  }
  .body{
    height: 95vh;
    /* background-color: blueviolet; */
  }