.image{
    height: 90%;
    width: 100%;
    background-size: cover; 
    background-position: center;
}
.title{
    height: 20%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bolder;
}