.container {
    height: 110vh;
    background-image: url('./skillsbackgroundimage.jpeg');
    background-size: cover; 
    background-position: center;
  }
  
  .skilltitlecontainer {
    height: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
  }
  .body{
    height: 95vh;
    /* background-color: blueviolet; */
  }
  .skillcontainer{
    background: transparent;
    height: 125px;
    width: 125px;
    opacity: 0;
  }
  .row{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .skillcontainer.animate {
    opacity: 0.5;
  }
  .animate-left1 {
    animation: animateLeft1 1s ease forwards;
  }
  
  .animate-right1 {
    animation: animateRight1 1s ease forwards;
  }
  
  .animate-top1 {
    animation: animateTop1 1s ease forwards;
  }
  
  .animate-bottom1 {
    animation: animateBottom1 1s ease forwards;
  }
  
  .animate-top-left1 {
    animation: animateTopLeft1 1s ease forwards;
  }
  
  .animate-top-right1 {
    animation: animateTopRight1 1s ease forwards;
  }
  
  .animate-bottom-left1 {
    animation: animateBottomLeft1 1s ease forwards;
  }
  
  .animate-bottom-right1 {
    animation: animateBottomRight1 1s ease forwards;
  }
  
  @keyframes animateLeft1 {
    from {
      transform: translateX(-125%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 2;
    }
  }
  
  @keyframes animateRight1 {
    from {
      transform: translateX(125%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 2;
    }
  }
  
  @keyframes animateTop1 {
    from {
      transform: translateY(-125%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 2;
    }
  }
  
  @keyframes animateBottom1 {
    from {
      transform: translateY(125%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 2;
    }
  }
  
  @keyframes animateTopLeft1 {
    from {
      transform: translate(-125%, -125%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 2;
    }
  }
  
  @keyframes animateTopRight1 {
    from {
      transform: translate(125%, -125%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 2;
    }
  }
  
  @keyframes animateBottomLeft1 {
    from {
      transform: translate(-125%, 125%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 2;
    }
  }
  
  @keyframes animateBottomRight1 {
    from {
      transform: translate(125%, 125%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 2;
    }
  }
  @media screen and (max-width: 700px) {
    .skillcontainer{
      background: transparent;
      height: 80px;
      width: 80px;
      opacity: 0;
    }
  }
  