.contactcontainer{
    background-color: rgb(249, 255, 232);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.formcontainer{
    height: 90vh;
    width: 80%;
    border-radius: 5px;
    display: flex;
}
.contactimage{
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 40%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width:60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contacttitle{
    width: 100%;
    height: 100px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.contacttitle p{
    color:  rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    margin-left: 10px;
    font-weight: bold;
}
.contacttitle p1{
    color:  rgb(255, 255, 255);
    font-size: 50px;
    font-style: oblique;
    font-weight: 100;
}
.contactgif{
    width: 100%;
    height: 70%;
    background-image: url('./contactgif.gif');
    background-size: cover; 
    background-position: center;
}
.heading{
    width: 100%;
    height: 40px;
    margin-top: 150px;
    font-size: 30px;
    font-style: italic;
    color: black;
    font-weight: bolder;
}
.text{
    width: 200px;
    margin-left: 100px;
}
.effect{
    width: 150px;
    height: 18px;
    background-color:rgb(98, 134, 0);
    margin-left: 20%;
    margin-top: -2.3%;
    opacity: 0.5;
}
.mail{
    height: 75%;
    width: 100%;
}
.name, .email{
    width: 80%;
    height: 40%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: width 1s; 
    border-color: rgb(229, 255, 158);
    outline: none; 
}

.contentcontainer{
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.name:hover, .email:hover {
    width: 85%;
    border-color: rgb(98, 134, 0);
    cursor: pointer;
}
.message{
    margin-top: 100px;
    height: 200%;
    width: 80%;
    background-color: rgba(229, 255, 158, 0.215);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s; 
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    outline: none; 
}
.message:hover{
    width: 90%;
}
.sendcontainer{
    margin-top: 110px;
    height: 100px;
    width: 90%;
    align-items: end;
    display: flex;
}
.beforesend{
    width: 150%;
    background-color: aqua;
}
.send{
    /* width: 100px; */
    /* height: 100px; */
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: black;
    transition: font-size  1s; 
}
.send:hover{
    font-size: 30px;
    color: rgb(98, 134, 0);
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .heading{
        width: 100%;
        height: 40px;
        margin-top: 150px;
        font-size: 30px;
        font-style: italic;
        color: black;
        font-weight: bolder;
    }
    .text{
        width: 200px;
        margin-left: 50px;
    }
    .effect{
        width: 150px;
        height: 18px;
        background-color:rgb(98, 134, 0);
        margin-left: 30%;
        margin-top: -5.5%;
        opacity: 0.5;
    }
}